.cell {
  text-align: center;
  background-color: white;
  height: 50px;
  width: 9.5%;
  margin: 5px;
  font-family: "Neucha", cursive;
  word-wrap: break-word;
  @media (max-width: 750px) {
    max-width: 9.5%;
    margin: 2px;
    font-size: 0.7rem;
  }
  @media (max-width: 1000px) {
    font-size: 1rem;
  } 
}

.average-mood {
  border: 3px solid black;
  transition: 0.3s;
  transform: scale(1.2);
  background-color: white !important;
  box-shadow: 1px 1px 5px #909497;
}

.selected {
  border: 4px dotted #000;
}

button {
  border: none;
  padding: 0;
  font-size: 1.2rem;
  border-radius: 3px;
  color: #000;
}

button:hover {
  box-shadow: 1px 1px 5px #909497;
  transition: 0.3s;
}
