@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 10px;
  padding: 10px; 
  @media (max-width: 1000px) {
    margin: 5px;
  }  
}

.App {
  height: 100%;
}

h1 {
  font-family: "Neucha", cursive;
  width: fit-content;
  background-image: linear-gradient(to right, violet, blue, green, yellow, red);
  -webkit-background-clip: text;
  color: transparent;
  margin: 30px auto;
  font-size: 4rem;
}
